<div class="flex min-h-full">
  <div
    class="flex flex-1 flex-col justify-center px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <app-signupform></app-signupform>
  </div>
  <div class="relative hidden w-0 flex-1 h-screen lg:block p-4">
    <div class="px-20 pt-16 bg-gray-800 h-screen rounded-xl">
      <h1 class="text-white font-semibold text-2xl leading-20">Empower Your Trades with Unmatched Precision and Reliability</h1>
      <h2 class="mt-4 text-gray-300 mb-8 text-xs">Achieve your financial goals with our state-of-the-art trading platform.</h2>
        <img
          class=" inset-0  w-full object-cover object-left rounded-2xl border"
          src="/tradeflowscreenshot.PNG"
          alt=""
        />
     </div>
  </div>
</div>
