<div class="hidden lg:fixed left-4 lg:inset-y-4 lg:z-50 lg:flex lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div
    class="flex grow flex-col justify-between overflow-hidden bg-primary px-6 py-6 rounded-full w-20"
  >
    <div class="flex shrink-0 items-center justify-center">
      <app-logo [logoStyles]="logoStyles"></app-logo>
    </div>
    <nav class="flex flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-4">
            <!-- <li *ngFor="let item of navItems"><a href="">D</a></li> -->
            <div *ngFor="let item of navItems" class="">
              <app-navitem [navItem]="item"></app-navitem>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
    <button (click)="logout()" class="text-white">
      <fa-icon [icon]="logouticon"></fa-icon>
    </button>
  </div>
</div>

<!--mobile-->
<div
  class="sticky top-0 z-40 flex items-center gap-x-6 bg-primary px-4 py-4 shadow-sm sm:px-6 lg:hidden"
>
  <button type="button" class="-m-2.5 p-2.5 text-gray-400 lg:hidden">
    <span class="sr-only">Open sidebar</span>
    <svg
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
  <div class="flex-1 text-sm font-semibold leading-6 text-white">Dashboard</div>
  <a href="#">
    <span class="sr-only">Your profile</span>
    <img
      class="h-8 w-8 rounded-full bg-primary-light"
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt=""
    />
  </a>
</div>
