<p-messages [(value)]="messages" [enableService]="false" />
<div class="mx-auto w-full max-w-sm pb-12 lg:w-96 px-8">
  <div>
    <div class="flex items-center space-x-2">
      <app-logo [logoStyles]="logoStyles"></app-logo>
      <span class="text-xl font-bold"
        >TRADE<span class="text-xl font-bold text-blue-600">FLOW</span></span
      >
    </div>
    <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10">
    <div>
      <form class="space-y-6" #f="ngForm" (ngSubmit)="login(f)">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="email"
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              #emailModel="ngModel"
              [ngClass]="{
                'border-red-500':
                  emailModel.invalid && (emailModel.dirty || emailModel.touched)
              }"
              class="px-4 block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
            />
            <p
              *ngIf="
                emailModel.invalid && (emailModel.dirty || emailModel.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              Please enter a valid email address.
            </p>
          </div>
        </div>

        <div>
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="password"
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              minlength="8"
              #passwordModel="ngModel"
              [ngClass]="{
                'border-red-500':
                  passwordModel.invalid &&
                  (passwordModel.dirty || passwordModel.touched)
              }"
              class="px-4 block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
            />
            <p
              *ngIf="
                passwordModel.invalid &&
                (passwordModel.dirty || passwordModel.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="passwordModel.errors?.['required']"
                >Password is required.</span
              >
              <span *ngIf="passwordModel.errors?.['minlength']"
                >Password must be at least 8 characters.</span
              >
            </p>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
            />
            <label
              for="remember-me"
              class="ml-3 block text-sm leading-6 text-gray-700"
              >Remember me</label
            >
          </div>

          <div class="text-sm leading-6">
            <a
              href="/signup"
              class="font-semibold text-blue-600 hover:text-blue-500"
              >Don't have an account?</a
            >
          </div>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="f.invalid || isLoading"
            class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:opacity-50"
          >
            <ng-container *ngIf="isLoading; else text">
              <app-spinner></app-spinner>
            </ng-container>
            <ng-template #text>Sign in</ng-template>
          </button>
        </div>
      </form>
    </div>

    <div class="mt-10"></div>
  </div>
</div>
